.rdp-root {
  --rdp-accent-color: #48bb78 !important; /* Change the accent color to indigo. */
}

.rdp-today:not(.rdp-outside) {
  color: inherit !important;
  font-weight: 600 !important;
}

.rdp-selected {
  color: var(--rdp-accent-color) !important;
}
.rdp-selected.rdp-today:not(.rdp-outside) {
  color: var(--rdp-accent-color) !important;
}
